// CORE LAYER [CONTAINERS] ##############################################

    // [DESCRIPTION]:
    //
    // Adds a container to your site / content that is fixed width on larger screens, and 100% on small screens. 

    // [USAGE]:
    // 
    //<div class="container">
    //    
    //    <!-- Site content here -->
    //    
    //</div>

	// A. RESPONSIVE CONTAINERS +++++++++++++++++++++++++++++++++++++++
	
		.container {
			max-width: 100%;
		}
		
		@include media-query(mobile){ 
		
			.container {
			    margin: 0 $baseline/4;
			}
		
		 }
		 
		 @include media-query(tablet){ 
		 
		 	.container {
		 	    margin: 0 $baseline/2;
		 	}	
		 
		  }
		 
		 
		@include media-query(desk){ 
		
			.container {
				width: 940px;
				margin: 0 auto;
			}
		
		 }
		 
		@include media-query(desk-wide){ 
		
			.container {
				width: 1200px;
				margin: 0 auto;
			}
		
		 }	
	// A. END +++++++++++++++++++++++++++++++++++++++


// END OF FILE ##############################################