<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/icons/favicon.png" />
<link href="{{ site.baseurl }}/assets/images/icons/apple-touch-icon.png" rel="apple-touch-icon" />
<link href="{{ site.baseurl }}/assets/images/icons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
<link href="{{ site.baseurl }}/assets/images/icons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
<link href="{{ site.baseurl }}/assets/images/icons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />


<!-- A. CSS ++++++++++++++++++++++++++++++++++++++ -->

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Stylesheet.css">

<!-- A. END ++++++++++++++++++++++++++++++++++++++ -->

<!-- B. HEAD JS ++++++++++++++++++++++++++++++++++++++ --> 

<!-- B.1. Modernizr -->
<script src="{{ site.baseurl }}/assets/external/modernizr/modernizr.js"></script>

<!-- B.2. Html5shiv -->
<script src="{{ site.baseurl }}/assets/external/html5shiv/dist/html5shiv.min.js"></script>

<!-- B.3. Modernizr -->
<script src="{{ site.baseurl }}/assets/external/jquery/dist/jquery.min.js"></script>

<!-- B.4. Your App -->
<script src="{{ site.baseurl }}/assets/js/app.js"></script>

<!-- B. END ++++++++++++++++++++++++++++++++++++++ -->