<nav class="nav-menu hidden" id="nav-menu">
    
	<ul>
        <li><a href="#" class="close-menu"><i class="icon-angle-up"></i></a></li>
		<li><a href="{{ site.url }}">Homepage</a></li>
		<li><a href="{{ site.url }}/getting-started">Getting Started</a></li>
		<li><a href="{{ site.url }}/documentation">Documentation</a></li>
		<li><a href="{{ site.url }}/changelog">Changelog</a></li>
		<li><a href="{{ site.url }}/contribute">Contribute</a></li>
		<li><a href="{{ site.url }}/license">License</a></li>
	</ul>
</nav>