// CONFIGURATION LAYER [BRAND] ##############################################

// This is your brand configuration file, for colors & other related items. Below is a sample you can override.

	// A. BRAND COLORS ++++++++++++++++++++++++++++++++++++++++++++++++
	
		// A.1. Reds
		$konstruct-redDark:		#C25045;
		$konstruct-red:			#E7685B;
		
		// A.2. Greens
		$konstruct-greenDark:	#69B2A9;
		$konstruct-green:		#72CAC1;
		
		// A.3.	Blues
		$konstruct-blue:		#69B3E7;
	
// END OF FILE ##############################################