// CONFIGURATION LAYER [BRAND] ##############################################

	// A. BRAND COLORS ++++++++++++++++++++++++++++++++++++++++++++++++
		
		$k_red:                    #DF544B;
		$k_redDark:                #922f2d;
		$k_black:                  #25221F;
		$k_aqua:					#2DBFC8;
		$k_aquaDark:                #1d7b82;
		$k_gray:					#EFEEEE;
		$k_grayDark:				#a2a2a2;
		$k_orange:					#F3A420;
	    $k_orangeDark:				#a36815;
// END OF FILE ##############################################