// CONFIGURATION LAYER [BRAND] ##############################################

	// A. BRAND COLORS ++++++++++++++++++++++++++++++++++++++++++++++++
	
		$k_grayLight:               #f1f1f1;
		$k_gray:                  	#dedede;
		$k_grayDark:                #92a0ab;
	
// END OF FILE ##############################################