// CONFIGURATION LAYER [FONTS & STACKS] ##############################################


	// A. FONTS ++++++++++++++++++++++++++++++++++++++++++++++++
	
	
		// @IMPORT YOUR FONT CSS FILES IN HERE
		
		
	// B. FONT STACKS ++++++++++++++++++++++++++++++++++++++++++++++++

		// B.1 Arial Font Stack
		$helvetica: 	"Helvetica Neue", Helvetica, Arial, sans-serif;
		
		// B.2 Arial Font Stack
		$monospace: 	"Bitstream Vera Sans Mono", Consolas, Courier, monospace;
		
		// B.3 Arial Font Stack
		$arial:			Arial, Helvetica, sans-serif;
		
		
		// ADD YOUR OWN FONT STACKS HERE
		
		
	// C. FONT SETUP ++++++++++++++++++++++++++++++++++++++++++++++++

		$base-font:			$helvetica; // Change your default font type.
		$base-size: 		16px; 		// Choose your base font size. I like 16px and Relative Readability.
		$baseline: 			24px; 		// Choose your Line Height.
		
	// D. FONT SIZING ++++++++++++++++++++++++++++++++++++++++++++++++
	
		$x-large:			2em; 		// 32px
		$large:				1.5em; 		// 24px
		$medium:			1.125em; 	// 18px
		$normal:			1em; 		// 16px
		$small:				0.75em; 	// 12px
		$x-small:			0.625em; 	// 10px

// END OF FILE  ##############################################