// BASE LAYER [SITE] ##############################################

	// A. FRONT PAGE ++++++++++++++++++++++++++++++++++++++++++++++++
		.page-front {
		
			// A.1 Text stuff
			
				h1 {
					text-align: center;
					border-bottom: solid 1px $konstruct-red;
					padding-bottom: $baseline/2;
				}
			
				.lead {
					text-align: center;
				}
			
			// A.1 End	
		
			// A.2 Grid
			
				.section-blocks {
				
					@extend .grid;
					
					.block {
						@extend .grid__item;
						
						h5 {
							font-size: $medium;
							text-transform: uppercase;
							
							i {
								display: block;
								text-align: center;
								font-size: $x-large;
								margin-bottom: $baseline/2;
								color: $konstruct-red;
							}
						}
						
						a {
							padding: 3px;
							margin-bottom: 3px;
							i {
								font-size: $large;
							}
						}
						
						.content {
							padding: $baseline;
							background: $white;
						}
						
						&.one {
							@extend .portable--one-whole;
							@extend .desk--one-third;
							
							.content {
								background: lighten($konstruct-red, 20%);
								
							}
							
							a {
								background-color: $konstruct-red;
								color: $white;
								&:hover {
									background-color: $konstruct-redDark;
								}
							}
						}
						
						&.two, &.three {
							@extend .portable--one-half;
							@extend .desk--one-third;
						}
						
						&.four, &.five {
							@extend .desk--one-half;
							@extend .desk--one-half;
						}
						
						
						h5 {
							text-align: center;
						}
						
					}
				
				}
			
			// A.2 End
		
		}
	// A. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// B. LIBRARIES GENERAL ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// B. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// C. CORE LIBRARY ++++++++++++++++++++++++++++++++++++++++++++++++
		
		// C.1. Responsive
		.identify {
			color: $white;
			padding: $baseline;
		}
		
			@include media-query(palm){ 
				
					.identify {
						background: $blue;
						color: $red;
						&:after {
							content: " a mobile view";
							
						}
					}
				
				 }
				 
				 @include media-query(lap){ 
				 
				 	.identify {
				 		background: $orange;
				 		color: $white;
				 		&:after {
				 			content: " a lap view";
				 		}
				 	}	
				 
				  }
				  
				@include media-query(lap-and-up){ 
				
					.identify {
						background: $yellow;
						color: $white;
						&:after {
							content: " a lap view";
						}
					}	
				
				 }
				   
				   
				@include media-query(portable){ 
				
					.identify {
						background: darken($yellow, 20%);
						color: $white;
						&:after {
							content: " a portable view";
						}
					}
				
				 }
			
				@include media-query(desk){ 
				
					.identify {
						background: $green;
						color: $white;
						&:after {
							content: " a wide desk view";
						}
					}
				
				 }
				 
				@include media-query(desk-wide){ 
				
					.identify {
						background: $blue;
						color: $white;
						&:after {
							content: " a wide desk view";
						}
					}
				
				 }
				 
				 
				 // C.1.1 TYPOGRAPHY
				 .section-typography {
				 
				 	background-image: url('../images/site/baseline.png');
				 
				 }
				 // C.1.1 End
		
		// C.1. End
		
	// C. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// D. FRONT PAGE ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// D. END ++++++++++++++++++++++++++++++++++++++++++++++++
		
	
// END OF FILE ##############################################