// BASE LAYER [SITE] ##############################################

	// A. GENERAL ++++++++++++++++++++++++++++++++++++++++++++++++
		
		html {
			background-color: $grayLighter;
			background-image: url('../images/site/wallpaper.jpg');
			background-attachment: fixed;
			-webkit-background-size: cover;
			        -moz-background-size: cover;
			        -o-background-size: cover;
			        background-size: cover;
			        margin: 0;
			        height: 100%;
		}
		
		body {
		
			@include linear-gradient(to right, rgba( $grayDark, 0.3 ) 0%, rgba( $grayDark, 0.1 ) 50%, rgba( $grayDarker, 0.3 ) 100%, $fallback: rgba( $grayDarker, 0.5 ));
		
		}
		
		h1 {
			
		}
		
		h2,h3,h4,h5,h6 {
			//font-family: $Pluto-regular;
		}
		
		p {
			
			&.lead {
				color: $gray;
			}
		}
		
		.amp {
			//font-family: $Quicksand-book;
		}
		
		bold,strong {
			//font-family: $Sans-semiBold;
		}
		
		em {
			//font-family: $Sans-lightItalic;
		}
		
		.done {
			color: $green;
		}
	
	// B. PAGE LAYOUT ++++++++++++++++++++++++++++++++++++++++++++++++
	
		// B.1. Masthead 
		
		#masthead {
			text-align: center;
			
			// B.1.1 Logo
			img {
				
				margin: 50px auto 50px auto;
				
				&:hover {
					background-color: rgba( $grayDarker, 0.2 );
				}
			
			
			
			}
			
			// B.1.2 Main Navigation
			.main {
				//background-color: $grayDarker;
				padding: 10px;
				
				a {
					font-size: $large;
					color: $white;
					padding: 5px 15px;
					
					&:hover {
						background-color: $konstruct-redDark;
					}
					
					&.current {
						background-color: $konstruct-red;
					}
				}
				
			}
			
			// B.1.2 Sub Navigation
			.sub {
				margin-top: $baseline / 2;
				background-color: $white;
				padding: 5px 10px;
				
				a {
				
					color: $gray;
					
					&.active {
						background-color: $konstruct-green;
						color: $white;
					}
				
				}
			}
		}
		
		// B.2. Mast
		
		#mast {
			margin: $baseline 0;
			background-color: $grayLighter;
			padding-top: $baseline;
			padding-bottom: $baseline; 
		}
		
			
			// B.2.1 Code Library
			.library {
				@extend .grid;
				
				.index {
					@extend .grid__item;
					@extend .portable--two-sixths;
					@extend .desk--two-twelfths;
					
					ul {
						@extend .vertical;
						@extend .list;
					
					}
					li {
						border-bottom: solid 1px $grayLight;
						padding: 6px 0;
					}
					
					.title {
						//font-family: $Pluto-regular;
						background: $grayLight;
						color: $white;
						padding: 6px;
						margin-top: $baseline;
						border: none;
					}
				}
				
				.page {
					@extend .grid__item;
					@extend .portable--four-sixths;
					@extend .desk--ten-twelfths;
					background: $white;
				
					.content {
						//padding: $baseline / 2;
						
					}
				
				}
			}
			
			// B.2.1 End
			
			// B.2.2 Code View
			
			.code-view {
			
				@extend .grid;
				
				.view {
					@extend .grid__item;
					@extend .desk--full;
					border-bottom: solid 1px $gray;
					padding-bottom: $baseline;
					margin-bottom: $baseline;
					
					
				}
				
				.html, .css {
					@extend .grid__item;
					@extend .desk--one-half;
				}
				h4 {
					margin-top: 0;
				}
			
			}
			.demo-grid {
				background: $konstruct-blue;
				margin-bottom: $baseline / 2;
			}
			// B.2.2 End
		
		// B.2. End
		
		// B.3. Footend
		
		#footend {
			text-align: center;
			margin: 0;
			padding-bottom: $baseline;
			color: $white;
			
			p,li {font-size:$small;}
			p {
				margin: 0;
			}
			
		}
	
// END OF FILE ##############################################