// SITE LAYER  ##############################################

	// A. SITEWIDE STYLING ++++++++++++++++++++++++++++++++++++++++++++++++
	
		html, body {
			background: $k_grayLight;
		}
		
		// A.1. Typography 
		h1, h2, h3, h4, h5, h6 {
			font-weight: 200;
			text-transform: uppercase;
		}
		
		p {
			font-weight: 300;
		}
		// A.1. End
	
	// A. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// B. MASTHEAD ++++++++++++++++++++++++++++++++++++++++++++++++
	
		#masthead {
			background: $white;
			
			@include clearfix();
			
			// B.1. Logo 
			.logo {
				float: left;
			}
			// B.1. End
			
			// B.2. Navigation
			.nav-main {
				float: right;
			}
			// B.2. End
		}
	
	// B. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// C. MAST ++++++++++++++++++++++++++++++++++++++++++++++++
		
		#mast {
			margin: $baseline * 2 0;
		}
		
	// C. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// D. FOOTEND ++++++++++++++++++++++++++++++++++++++++++++++++
	
		#footend {
			background: $white;
			text-align: center;
			
			// D.1. Get Konstruct
			.aside-get {
			
				padding: $baseline 0;
				
			}
			// D.1. End
			
			// D.2. Social Links
			.aside-socials {
			
				padding: $baseline 0;
				border-top: solid 1px $k-grayLight;
			
				ul {
					@extend .list;
					@extend .horizontal;
				}
				
				a {
					font-size: $x-large * 2;
					color: $gray;
				}
			}
			// D.2. End
			
			// D.3. Copyright
			h6 {
				margin: 0 0 $baseline 0;
				text-transform: uppercase;
				color: $k-grayDark;
			}
			// D.3. End
		}
		
	// D. END ++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ##############################################