<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

		<!-- A. CSS ++++++++++++++++++++++++++++++++++++++ --> 
		
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Stylesheet.css">
        
        <!-- A. END ++++++++++++++++++++++++++++++++++++++ -->
        
        <!-- B. HEAD JS ++++++++++++++++++++++++++++++++++++++ --> 
        
        <!-- B. END ++++++++++++++++++++++++++++++++++++++ -->

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
		
		<!-- C. WORK AREA ++++++++++++++++++++++++++++++++++++++ -->
		
			<!-- C.1. MASTHEAD -->
			<header id="masthead">
				<div class="container">
				
					<!-- C.1.1. Logo -->
					<a href="{{ site.baseurl }}" class="logo"><img src="{{ site.baseurl }}/assets/images/site/logo.png" /></a>
					
					<!-- C.1.2. Main Navigation -->
					<nav class="nav-main">
						<ul>
							<li><a href="#">Download</a></li>
						</ul>
					</nav>
					
				</div>
			</header>
			<!-- C.1. END -->
			
			<!-- C.2. MAST -->
			<section id="mast">
				<div class="container">
					{{ content }}
				</div>
			</section>
			<!-- C.2. END -->
			
			<!-- C.3. FOOTEND -->
			<footer id="footend">
				<div class="container">
				
					<!-- C.3.1. Get it -->
					<aside class="aside-get">
						<h2>Build with Konstruct <a href="#">Download<small>Version 2.0</small></a></h2>
						<p>Or, just clone it from <a href="#">GitHub</a>.</p>
					</aside>
					
					<!-- C.3.1. Socials -->
					<aside class="aside-socials">
						<ul>
							<li><a href="" target="_blank"><i class="icon-github"></i></a></li>
						</ul>
					</aside>
					
					<!-- C.3.1. Licensing -->
				
					<h6>&copy; 2014 - Adrian Kirsten - <a href="https://twitter.com/traaidmark" target="_blank">@traaidmark</a> - <a href="http://traaidmark.com" target="_blank">traaidmark.com</a> - <a href="">License</a> </h6>
					
				</div>
			</footer>
			<!-- C.3. END -->
		
		<!-- C. END ++++++++++++++++++++++++++++++++++++++ -->
		
        <!-- D. JAVASCRIPT ++++++++++++++++++++++++++++++++++++++ -->
	        
	        <!-- D.1. GOOGLE ANALYTICS -->
	        <script>
	            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	            s.parentNode.insertBefore(g,s)}(document,'script'));
	        </script>
	        
        <!-- D. END ++++++++++++++++++++++++++++++++++++++ -->
        
    </body>
</html>